doctype html
html(lang='en')
    head
        title "Mr.Kitekat"
        meta(charset="UTF-8")
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        block scripts

        block vars

    body
        block content
